<!-- Settings etc -->
{% schema %}
    {
        "name": "My Cart",
        "settings": []
    }
{% endschema %}


<!-- Markup -->
<h2>Cart</h2>
<div class="my-cart">
<div class="cart-wrap" data-ajax-cart-section data-ajax-cart-section-scroll>
      <div class="mycart__items">
        {% for item in cart.items %}
        <hr>
        <div class="flyout-title"><a href="{{ item.url }}">{{ item.title }}</a></div>
        <div class="flyout-price">Price: {{ item.final_price | money }}</div>
        <div class="flyout-quantity"> 
            Quantity: 
            <a data-ajax-cart-request-button href=" {{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | minus: 1 }} " class="flyout-minus">-</a>
            {{ item.quantity }}
            <a data-ajax-cart-request-button href=" {{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | plus: 1 }} " class="flyout-minus">+</a>
        </div>
    <div class="flyout-total">Total: {{ item.final_line_price | money }}</div>
                  
        <!-- Place a data-ajax-cart-messages container for error messages -->
        <div data-ajax-cart-messages="{{ item.key }}"></div>
        {% endfor %}
    </div>
  </div>
</div>

<!-- Additional Settings -->

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}





