<!-- Settings etc -->
{% schema %}
{
"name": "My Cart",
"settings": []
}
{% endschema %}


<!-- Markup -->
<div class="flyout-cart-top">
  <h2>My Cart</h2>
  <a data-ajax-cart-toggle-class-button="js-my-cart-open">
    <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 50" width="36px" height="36px"><path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"/></svg> 
  </a>
</div>
<div class="my-cart">

<!-- Empty Cart -->
    {% if cart.item_count < 1 %} 
      <div class="mycart__items">  
      <h3>Your shopping cart is empty.</h3>
        <p>Why not check out some of our <a style="color: #6d1942;" href="https://wineexplorers.ie/collections/wine-subscriptions-ireland"><b>Wine Explorers Plans?</b></a></p>
    {% endif %}
      </div>
    {% if cart.item_count > 0 %} 
    <div class="cart-wrap" data-ajax-cart-section data-ajax-cart-section-scroll>
        <div class="mycart__items">
            {% for item in cart.items %}
            <hr>
            <div class="flyout-loop__item">
                <div class="flyout-loop__item__left">
                    <img src="{{ item.image | img_url: '600px' }}" alt="{{ product.featured_image.alt | escape }}">
                </div>
                <div class="flyout-loop__item__right">
                    <div class="flyout-title"><a href="{{ item.url }}">{{ item.title }}</a></div>
                    <div class="flyout-price">Price: {{ item.final_price | money }} per month.</div>
              <div class=""> </div>
                    <div class="flyout-quantity">
                        <quantity-input class="quantity">
                            <button data-ajax-cart-request-button class="quantity__button no-js-hidden" name="minus" type="button">
                                <a data-ajax-cart-request-button href=" {{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | minus: 1 }} " class="flyout-minus">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                        role="presentation" class="icon" fill="none" viewBox="0 0 10 2">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z" fill="currentColor">
                                        </path>
                                    </svg>
                                </a>
                            </button>
                             {{ item.quantity }}
                            <button data-ajax-cart-request-button class="quantity__button no-js-hidden" name="plus" type="button">
                                <a data-ajax-cart-request-button href=" {{ routes.cart_change_url }}?id={{ item.key }}&quantity={{ item.quantity | plus: 1 }} " class="flyout-plus">
                                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false"
                                        role="presentation" class="icon" fill="none" viewBox="0 0 10 10">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z"
                                            fill="currentColor">
                                        </path>
                                    </svg>
                                </a>
                            </button>
                        </quantity-input>
                        <cart-remove-button id="Remove-1" data-index="1">
                            <a data-ajax-cart-request-button href="/cart/change?line={{ forloop.index }}&quantity=0"
                                rel="{{ item.id }}" class="button button--tertiary"
                                aria-label="Remove Commander Monthly Wine Subscription - Red">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true"
                                    focusable="false" role="presentation" class="icon icon-remove">
                                    <path
                                        d="M14 3h-3.53a3.07 3.07 0 00-.6-1.65C9.44.82 8.8.5 8 .5s-1.44.32-1.87.85A3.06 3.06 0 005.53 3H2a.5.5 0 000 1h1.25v10c0 .28.22.5.5.5h8.5a.5.5 0 00.5-.5V4H14a.5.5 0 000-1zM6.91 1.98c.23-.29.58-.48 1.09-.48s.85.19 1.09.48c.2.24.3.6.36 1.02h-2.9c.05-.42.17-.78.36-1.02zm4.84 11.52h-7.5V4h7.5v9.5z"
                                        fill="currentColor"></path>
                                    <path
                                        d="M6.55 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5zM9.45 5.25a.5.5 0 00-.5.5v6a.5.5 0 001 0v-6a.5.5 0 00-.5-.5z"
                                        fill="currentColor"></path>
                                </svg>
                            </a>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
        {% endif %}
        <hr>
                              {% if cart.item_count > 0 %} 
                          <div class="flyout-total"><b>Total:</b> {{cart.total_price | money_with_currency }} per month.</div>
        Wine Explorers subscriptions are charged on the 12th of every month, and ship on the 16th.

                                  <a href="https://wineexplorers.ie/checkout">
                                <button class="product-form__submit button button--full-width button--primary">
                                  <span>Checkout</span>
                                  <div class="loading-overlay__spinner hidden">
                                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                    </svg>
                                  </div>
                              </button>
                            </a>
                          {% endif %}

    </div>
</div>


<div class="trustpilot-cart-widget">
    <!-- TrustBox widget - Micro TrustScore -->
    <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b637fa0340045cd0c936" data-businessunit-id="56bdf1c90000ff000588d5f2" data-style-height="20px" data-style-width="100%" data-theme="light" data-font-family="Heebo">
      <a href="https://uk.trustpilot.com/review/winesdirect.ie" target="_blank" rel="noopener">Trustpilot</a>
    </div>
    <!-- End TrustBox widget -->                          
</div>

<!-- Additional Settings -->

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}